@import "../../StyleConstants.scss";

.YesNoPopUp {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.25);
    align-items: center;

    .Content {
        color: black !important;
        background-color: white;
        text-align: center;
        position: absolute;
        width: 40%;
        padding: 10px;
        border-radius: 5px;
        .ButtonContainer {
            padding: 10px 0;
            display: flex;
            gap: 10px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 10px;
            .Yes,
            .No {
                width: 50px;
                height: 50px;
                cursor: pointer;
                text-align: center;
                color: $White;
                border-radius: 10px;
            }
            .Yes {
                background-color: $TableClothLight;
            }
            .No {
                background-color: $RedCardColor;
            }
        }
    }
}
