@import "../../StyleConstants.scss";

.InfoHud {
    @include TableDarkRaisedSection;
    bottom: 0;
    .TableContainer {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .ScoreTable {
            @include TableDarkRaisedSection;
            margin: 0;
            margin-top: 10px;
            table,
            td,
            th {
                padding: 5px;
            }
        }
    }
    .Outcome {
        font-size: 26px;
        height: 34px;
        padding: 10px;
        padding-bottom: 0;
        text-align: center;
    }
    .ButtonContainer {
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        .StartButton,
        .HitButton,
        .StickButton {
            width: 100px;
            height: 50px;
            background-color: gray;
            color: $White;
            border-radius: 8px;
        }
    }
}
