@import "../../StyleConstants.scss";

.GameSettings {
    display: grid;
    // This template matches the table template,
    // in order to make sure the top bar (which in this case
    // says "Game Settings", but on the table shows "Dealer Cards")
    // has a consistent hight when switching to/from settings screen.
    grid-template-rows: 1fr 8fr;

    background-color: $TableClothLight;
    color: $White;
    height: 100%;

    .Title {
        padding: 10px;
        text-align: left;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: $TableClothDark;
        @include TableDarkRaisedSection;
    }
    .Content {
        display: flex;
        flex-direction: column;
        padding: 10px;
        gap: 40px;
    }

    .GameSetting {
        gap: 10px;

        display: grid;
        grid-template-columns: auto 50px;

        width: 100%;

        .Info {
            display: flex;
            flex-direction: column;
            .Header {
                padding-bottom: 10px;
            }

            .Description {
                font-size: 13px;
            }
        }

        .ControlWrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;

            .Control {
                height: auto;
                width: 100%;
                aspect-ratio: 1 / 1;
            }
            button {
                background-color: gray;
                color: $White;
                border-radius: 8px;
            }
        }
    }
}
