@import "../../StyleConstants.scss";

.CardRow {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 2fr;
    .CardOwner {
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: $TableClothDark;
        @include TableDarkRaisedSection;
    }
    .Cards {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
}
