@import "../../StyleConstants.scss";

.CardRow {
    .CardOwner {
        padding: 10px;
        text-align: left;
        width: auto;
        background-color: $TableClothDark;
        @include TableDarkRaisedSection;
    }
    .Cards {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}
