@import "../../StyleConstants.scss";

.Table {
    background-color: $TableClothLight;
    color: white;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
