@import "../../StyleConstants.scss";

.TableContainer {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .ScoreTable {
        @include TableDarkRaisedSection;
        margin: 0;
        margin-top: 10px;
        table,
        td,
        th {
            font-weight: normal;
            padding: 5px;

            @media only screen and (max-height: 640px) {
                font-size: 12px;
            }
        }
    }
}
