@import url("https://fonts.googleapis.com/css2?family=Oxygen&family=Playfair+Display&display=swap");
@import "./StyleConstants.scss";

* {
  font-family: "Oxygen", sans-serif;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Content {
  @include AppDimensions;
  position: relative;
  overflow: hidden;
}

.ToggleSettings {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  margin: 7px;
  height: 30px !important;
  width: 30px !important;
  font-size: 20px !important;
}
