@import url("https://fonts.googleapis.com/css2?family=Oxygen&family=Playfair+Display&display=swap");
@import "./StyleConstants.scss";

* {
  font-family: "Oxygen", sans-serif;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  aspect-ratio: 1/2;
  min-width: 220px;
  min-height: 430px;
  @media only screen and (max-width: 600px) {
    height: 100dvh;
    width: 100dvw;
    aspect-ratio: auto;
  }
}
.Content {
  height: 100%;
  width: 100%;
}
